.scene {
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.cylinder {
    width: 0;
    height: 0;
    position: relative;
    transform-style: preserve-3d;
    animation: spinY 15s linear infinite;
}

.cylinder-face {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center center;
}

.cylinder-face img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    /* transform: translate(-50%, -50%); */
}

/* 3 faces at 120 degrees, orbiting around the center */
.face1 {
    transform: rotateY(0deg) translateZ(200px);
}

.face2 {
    transform: rotateY(120deg) translateZ(200px);
}

.face3 {
    transform: rotateY(240deg) translateZ(200px);
}

@keyframes spinY {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}

