/* Container to set up the 3D perspective and handle hover */
.image-container {
  perspective: 1000px;
  width: 100%;
  /* border: 1px solid blue; */
  display: inline-block;
}

/* This is the element that will actually flip and run the animation */
.flipper {
  /* display: inline-block; */
  position: relative;
  /* border: 1px red solid; */
  text-align: center;
  transform-style: preserve-3d;
  /* animation: spin-3d 20s linear infinite; */
}

/* .image-container:hover .flipper {
  animation-play-state: paused;
  } */

@keyframes spin-3d {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.face {
  backface-visibility: hidden;
  position: absolute;
  /* border: 1px green solid; */
}

.face img {
  /* display: inline-block; */
  width: 50%;
  height: 50%;
  border-radius: 20px;
}

.face.back {
  transform: rotateY(180deg);
}