.custom-btn {
    color: white;
}

.custom-btn:hover {
    color: blue;
    text-shadow: 2px 2px 5px red;
    transition: 0.3s;
    /* font-size: larger; */
    /* background-color: white; */
}

.custom-close:hover {
    color: white;
}

.workspace-custom-btn {
    background-color: "grey";
    border: "1px solid grey";
    border-radius: "10px";
    color: "black";
    padding: "10px";
    display: "flex";
    align-items: "center";
    justify-content: "space-between";
}